<style type="text/css"> 
	html {font-size: 5px; }

		#wrap {
			background-color: rgb(181, 207, 212); 
			width:1280px; 
			height: 5220px; 
			margin: 0 auto;
		}

		#logo {
			margin-top: 40px;
			margin-left: 580px;
			width: 140px;

			
		}



		#header1 {
			text-align: center;
			margin-top: 50px;

		}

		#header2 {
			text-align: center;
			margin-bottom: 50px;
			margin-top: 30px;
		}

		#p1 {
			text-align: center;
		}	

		#title {
			font-size: 32px;
			
			font-weight: bold;
			font-family: 'Noto Sans KR', sans-serif;
			color: rgb(100, 129, 139); 
			line-height: 1.4em;
			background-color: white;
			box-shadow: -0.2em 0 0 #fff, -0.2em 0 0 #fff;
		}	

		.con{ 
			font-size: 15px;
			text-align: center;
			line-height: 180%;
			width: 753px; 
			margin-right: auto;
			margin-left: auto;
			margin-top: 30px;
			margin-bottom: 27px;
			font-family: 'Noto Sans KR', sans-serif;
			color: rgb(100, 129, 139); 

		}	

		#p1- {
			margin-top: 30px;
			margin-left: auto;
			margin-bottom: 45px;
			width: 800px; 
			height: 20px;
			color: rgb(100, 129, 139); 

		}

		#p1-- {
			margin-top: 150px;
			margin-right: auto;
			margin-left: auto;
			width: 800px; 
			height: 1px;
			

		}

		#p1 {
			margin: 0 auto;
			width: 800px; 
			height: 800px;
			
			margin-bottom: 150px;


		}	

		.left {
			display: inline;
			float: left;
			margin-left: 240px;
		}

		.center {
			display: inline;
			float: left;
			margin-left: 10px;
		}

		.right {
			display: inline;
			float: left;
			margin-left: 10px;

		}

		#center{
			width: 260px;
			text-align: center;
			margin-left: 510px;

		}

		.t {
			text-align: center;
			font-size: 18px;
			font-weight: bold;
			font-family: 'Noto Sans KR', sans-serif;
			line-height: 1.4em;
			background-color: white;
			box-shadow: -0.2em 0 0 #fff, -0.2em 0 0 #fff;
		}

		.a{
			background-color: white;
			border: solid 3px white;
			width: 730px;
			margin-top: 70px;
			margin-right: auto;
			margin-left: auto;
			margin-bottom: 6px;

		}

		.a-{
			background-color: white;
			border: solid 3px white;
			width: 730px;
			margin-top: 30px;
			margin-right: auto;
			margin-left: auto;
			margin-bottom: 20px;

		}

		.b{
			background-color: white;
			border: solid 3px white;
			width: 800px; 
			margin-top: 40px;
			margin-right: auto;
			margin-left: auto;
			margin-bottom: 20px;
		}

		.b-{
			background-color: white;
			border: solid 3px white;
			width: 800px; 
			margin-top: 20px;
			margin-right: auto;
			margin-left: auto;
			margin-bottom: 20px;
		}

		.c{
			background-color: white;
			border: solid 10px white;
			width: 820px; 
			margin-top: 20px;
			margin-right: auto;
			margin-left: auto;
			margin-bottom: 20px;
		}

		.e {
			border: none;
			border-top: 20px dotted white;
			height: 8px;
			width: 820px;
			text-align: center;
			margin-top: 15px;
			
		}

		.e-{
			border: none;
			border-top: 20px dotted white;
			height: 8px;
			width: 900px;
			text-align: center;
			margin-top: 15px;
			
		}

		.box {
			margin-right: auto;
			margin-left: auto;
			width: 800px; 
			height: 50px;
			background-color: rgb(181, 207, 212); 
		}

	</style>
	